html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem color-mix(in srgb, var(--theme-color, #c670ff) 20%, white), 0 0 0 0.25rem var(--theme-color, #c670ff);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}